//- don't forget to update facebook_connect.es6 module when making changes here
ul.c-menu-account
	li.c-menu-account__item
		a.c-menu-account__link(href!=`${page.url.base}mi-cuenta/mis-datos`) Mis datos
	li.c-menu-account__item
		a.c-menu-account__link(href!=`${page.url.base}mi-cuenta/mis-direcciones`) Mi dirección
	li.c-menu-account__item
		a.c-menu-account__link(href!=`${page.url.base}mi-cuenta/mis-cupones`) Mis cupones
	li.c-menu-account__item
		a.c-menu-account__link(href!=`${page.url.base}mi-cuenta/mis-creditos`) Mis créditos
	li.c-menu-account__item
		a.c-menu-account__link(href!=`${page.url.base}mi-cuenta/mis-suscripciones`) Mis suscripciones
	li.c-menu-account__item#lnkLogout
		a.c-menu-account__link(href="javascript:;") Cerrar sesión
