script(src!=`${page.url.static}js/libs/jquery/dist/jquery.min.js${page.version}`, type="text/javascript")
script(src!=`${page.url.static}js/libs/fancybox/source/jquery.fancybox.js${page.version}`, type="text/javascript")
script(src!=`${page.url.static}js/libs/parsleyjs/dist/parsley.min.js${page.version}`, type="text/javascript")
script(src!=`${page.url.static}js/libs/parsleyjs/dist/i18n/es.js${page.version}`, type="text/javascript")
script(src!=`${page.url.static}js/libs/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js${page.version}`, type="text/javascript")
script(src!=`${page.url.static}js/libs/slick-carousel/slick/slick.min.js${page.version}`, type="text/javascript")
script(src!=`${page.url.static}js/scripts/modules/all_modules/app.js${page.version}`, type="text/javascript")