script(src=`${page.static_url}js/libs/jquery/dist/jquery.min.js`, type="text/javascript")
script(src=`${page.static_url}js/libs/remodal/dist/remodal.min.js`, type="text/javascript")
script(src=`${page.static_url}js/libs/datedropper/datedropper.min.js`, type="text/javascript")
script(src=`${page.static_url}js/libs/parsleyjs/dist/parsley.min.js`, type="text/javascript")
script(src=`${page.static_url}js/libs/parsleyjs/dist/i18n/es.js`, type="text/javascript")
script(src=`${page.static_url}js/app.js`, type="text/javascript")